
@font-face {
    font-family: 'museo100';
    src: url('../fonts/museo/museo100-regular-webfont.eot');
    src: url('../fonts/museo/museo100-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo/museo100-regular-webfont.woff2') format('woff2'),
         url('../fonts/museo/museo100-regular-webfont.woff') format('woff'),
         url('../fonts/museo/museo100-regular-webfont.ttf') format('truetype'),
         url('../fonts/museo/museo100-regular-webfont.svg#museo100') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo300';
    src: url('../fonts/museo/museo300-regular-webfont.eot');
    src: url('../fonts/museo/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo/museo300-regular-webfont.woff2') format('woff2'),
         url('../fonts/museo/museo300-regular-webfont.woff') format('woff'),
         url('../fonts/museo/museo300-regular-webfont.ttf') format('truetype'),
         url('../fonts/museo/museo300-regular-webfont.svg#museo300') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo500';
    src: url('../fonts/museo/museo500-regular-webfont.eot');
    src: url('../fonts/museo/museo500-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo/museo500-regular-webfont.woff2') format('woff2'),
         url('../fonts/museo/museo500-regular-webfont.woff') format('woff'),
         url('../fonts/museo/museo500-regular-webfont.ttf') format('truetype'),
         url('../fonts/museo/museo500-regular-webfont.svg#museo500') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo700';
    src: url('../fonts/museo/museo700-regular-webfont.eot');
    src: url('../fonts/museo/museo700-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo/museo700-regular-webfont.woff2') format('woff2'),
         url('../fonts/museo/museo700-regular-webfont.woff') format('woff'),
         url('../fonts/museo/museo700-regular-webfont.ttf') format('truetype'),
         url('../fonts/museo/museo700-regular-webfont.svg#museo700') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo900';
    src: url('../fonts/museo/museo900-regular-webfont.eot');
    src: url('../fonts/museo/museo900-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo/museo900-regular-webfont.woff2') format('woff2'),
         url('../fonts/museo/museo900-regular-webfont.woff') format('woff'),
         url('../fonts/museo/museo900-regular-webfont.ttf') format('truetype'),
         url('../fonts/museo/museo900-regular-webfont.svg#museo900') format('svg');
    font-weight: normal;
    font-style: normal;

}


// =============================== Standard things  ===============================
body{
  h1{
    font-family: museo700;

    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
  }


    @include breakpoint(medium down) {
        h1{
          font-size: 40px;
        }

    }

}

a:link, a     { color: white; text-decoration: none; }
a:visited     { color: white; text-decoration: none;}
a:active      { color: white;  text-decoration: none;}


.standard-title{


  @include breakpoint(large up) {
    padding: 10px 0px 0px 100px;
    color: white;
    font-family: museo700;

    h1{
      margin-top: 7px !important;
    }
  }


  @include breakpoint(medium down) {
      padding: 50px 0px 0px 25px !important;
      margin-top: 0px !important;
      position: relative;
      top: 10px !important;
      margin-bottom: 50px;
      color: white;
    }


}


.standard-title-big{
  padding: 50px 0px 0px 100px;
  color: black;
  font-size: 40px;
  text-align: left;
  // text-align: left;
  font-family: museo700;
}
.icon-title{
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 30px;
}

.icon-title-big{
  width: 120px;
  height: 120px;
  float: left;
  margin-right: 30px;
  // border: solid 1px green;
}

.8colors-line{
  margin-bottom: 100px;
}

.colors-line{
  @include grid-col(1.5);
  height: 2px;
}

.content-50{
  @include grid-col(6);
}

.list-presentation-menu
    li{
      display: inline;
      float: left;
      margin-left: 100px;
      margin-top: 20px;
      text-align: center;
      color: white;
      -webkit-transition:all .5s ease-in-out;
      -moz-transition:all .5s ease-in-out;
      -o-transition:all .5s ease-in-out;
      transition:all .5s ease-in-out;
      &:hover{
        background-color: black;
        padding: 10px 10px 10px 10px;
      }
}

.top-bar-2{
  width: 100%;
  height: 100px;
  background-color:rgba(0,0,0,0.5);
  position: fixed;
  z-index: 999;
  bottom: 0px;
}

.hide {
  opacity: 0;
  left: -100%;
}
.show {
  opacity: 1;
  left: 0;
}

//  =============================== Intro ===============================
.logo{
  @include grid-row();
  width: grid-col(12);
  padding: 40px;
}

.8colors-line {
  margin-top: 50px;
  display: none;
}

.parallax-background {

  height: 420px;
  background: url('../img/background-0-op.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.parallax-content {
  height: 800px;
  background-color: $primary-color;
}



//  ===============================summary secound content  ===============================
.presentation{
  // @include grid-row();

  color: $secondary-color;


      @include breakpoint(small) {
        @include grid-col(24);

       }

      @include breakpoint(medium) {
        @include grid-col-pos(2);
        @include grid-col(12);
       }

      @include breakpoint(large) {
        margin-top: 50px;
        @include grid-col-pos(6);
        @include grid-col(6);
       }
}


.presentation-title{
  padding-left: 35px;
  margin-top: 25px;
  margin-bottom: 30px;

    h1{
      font-family: museo700;
      padding-top: 10px;
    }

    @include breakpoint(small down) {
      padding-left: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
      h1{
        font-size: 32px;
      }
    }
}


.list-presentation li{
  list-style: none;
  padding: 5px;
    div{
      width: 50px;
      height: 50px;
      // border: solid 1px red;
      display: inline-block;
    }
    img{

    }

}

.regular-content{
  @include grid-row();
  background: white;
  height: 800px;
}


// =============================== What is megafoto? third content  ===============================

.what-content{
  background: url('../img/lupa.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 20px;



  @include breakpoint(medium down) {
    @include grid-col(12);
    height: 600px;
   }

   @include breakpoint(large) {
     @include grid-col(12);
     height: 800px;
    }


}

.what-info{
  background-color:rgba(255,255,255,0.8);
  margin-bottom: 100px;

  @include breakpoint(1290 down) {
    h1, h6{
      @include grid-col(12);
    }
  }

  @include breakpoint(medium down) {
    @include grid-col(12);
    height: 600px;

      p{
        @include grid-col(12);
      }

   }

  @include breakpoint(large) {
    @include grid-col(6);
    p{
      @include grid-col(7);
      @include grid-col-pos(-3.7);
    }

      height: 800px;
      img{
        float: left;
      }

   }

    h1{
      padding: 0px;
      margin-bottom: 0px;
      width: 100%;
      display: block;
      // @include grid-col(40%);
    }
    h6{
      margin: 0px;
      padding: 0px;
      text-align: center;
      margin-bottom: 30px;
      // @include grid-col-pos(-6.5);
    }

}

 // =============================== Features  ===============================
 // Features colors with opacity
 .f1{background-color:rgba(244,73,94,0.5);}
 .f2{background-color:rgba(16,113,168,0.5);}
 .f3{background-color:rgba(229,177,24,0.5);}
 .f4{background-color:rgba(39,163,121,0.5);}
 .f5{background-color:rgba(132,85,113,0.5);}
 .f6{background-color:rgba(29,182,189,0.5);}

.top-features{
  padding-top: 130px;
}
.features{
    background: $primary-color;
}


 .content-features{
  height: 800px;
  background-image: url('../img/features-background.jpg');
    h5{
      font-family: museo300;
      margin-top: 5px;
    }


  .icon-feature{
    text-align: center;
    color: white;
    img{
      width: 7%;
      padding-top: 20px;
    }
  }


  @include breakpoint(medium down) {
    .op-features{
      @include grid-col(6);
      min-height: 270px;

    }

    .top-features{
      padding-top: 0px;
    }


   }

  @include breakpoint(large) {
    .content-f-op{
      @include grid-col(4);
      @include grid-col-pos(0.7);
    }
    .op-features{
      width: 300px;
      height: 300px;
      border-radius: 100%;
      margin-left: -20px;
      margin-top: -70px;
      // float: right;
        p{
          padding: 5px;
        }
      }

      .margin-defined{
        margin-right: 10%;
        margin-left: 10%;
      }

    }



 }

// =============================== Timeline  ===============================


.icon-title-timeline{
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 30px;
}


@include breakpoint(medium down) {


 }


.timeline{
  background-color: $primary-color;
  height: 700px;

    h1{
      margin-top: 0px;
    }
}

.timeline-icon{
  display: block;

    h4{
      font-size: 12px;
      display: block;
      float: right;
      padding-right: 30px;
      padding-top: 10px;
      margin: 0px;
      font-family: museo700;
    }

}

.options-timeline{

  p{
    margin-top: 40px;
  }

  // font-size: 70px;
  color: white;
  @include breakpoint(small) {
    @include grid-col(6);


   }

  @include breakpoint(medium) {
    @include grid-col(3);
   }

  @include breakpoint(large) {
    margin-top: 20px;
    @include grid-col(1.5);
   }

  height: 500px;
}

// Timeline colors
.t1{background-color:#e0495e;}
.t2{background-color: #1071a8;}
.t3{background-color:#e5b118;}
.t4{background-color:#27a379;}
.t5{background-color:#845585;}
.t6{background-color:#1db6bd;}
.t7{background-color:#5a7992;}
.t8{background-color:#3b4b56;}

 // =============================== Relatorio  ===============================


.relatorio{
  background: $primary-color;

  h1{
    margin-top: 0px;
  }
}
.relatorio-content{
  h1{
    margin: -10px;
  }
    @include breakpoint(large) {
      height: 500px;
      background: url('../img/background-relatorio.png') no-repeat right;
      background-blend-mode: luminosity;
      background-color: $primary-color;
        h1{
          color: white;
          text-align: left;
        }

    }

     @include breakpoint(medium down) {
      height: 500px;
      background-color: $primary-color;
      background-image: none;

     }
     h1{
       color: white;
     }
}

// .relatorio-content{
//   @include grid-row();
// }
.relatorio-text{
  background-color:rgba(59,75,86,0.9);
  padding-top: 100px;
  height: 100%;
 @include breakpoint(medium down) {
  @include grid-col(12);
  padding: 20px;
 }
  @include grid-col(6);
  // @include grid-col-pos(-1.2);
  float: left;
  color: white;
}

 // =============================== Mega-poster  ===============================

 #ex-megaposter{
   img{
     width: 90%;
     display: block;
     margin-left: auto;
     margin-right: auto
   }
 }

 .megaposter-title{

   padding: 50px 0px 0px 100px;
   color: black;
   font-size: 40px;
   text-align: left;
   font-family: museo700;
     img{
       float: left;
       padding-top: 20px;
     }
     h1{
       float: left;
       padding-left: 20px;
     }




     @include breakpoint(medium down) {
       img{
         width: 10%;
       }
      }



 }



.mega-poster{
  height: 1000px;
  background-image: url('../img/background-0-op.jpg');
  @include breakpoint(medium down) {
        height: 500px;
    }

    @include breakpoint(small down) {
        height: 400px;

        h1{
          font-size: 30px;
          margin-left: -90px;
        }

        .megaposter-title{
          img{
            display: none;
          }
        }
      }
}


// =============================== Your Brand  ===============================

.content-your-brand{
  background-image: url('../img/background-0-op.jpg');
  height: 900px !important;




@include breakpoint(medium down) {
  height: 1600px !important;
}


  @include breakpoint(medium up) {

      h1{
        font-size: 70px !important;
        color: black !important;
      }

    }
h1{
  padding: 50px 0px 0px 100px;
  text-align: left;
}


}



.your-brand-icon-title{
img{
  width: 150px;
  float: left;
  margin-left: 10px;
  margin-top: 80px;
}
@include breakpoint(small down) {
  img{
  width: 15%;
  margin-left: 5%;
  margin-top: 60px;
  }

}

}



.Your-Brand-Left{
@include breakpoint(large) {
  padding-top: 200px;
  @include grid-col(6.5);
  height: 100%;
  background-color:rgba(59,75,86,0.7);
  h1{
    color: white !important;
  }
}



  @include breakpoint(medium down) {
    @include grid-col(12);
    h1{
    color: white;
    font-size: 30px;
    }
  }

 @include breakpoint(small down) {
        background-color:$primary-color;
  }

}

.Your-Brand-Right{

@include breakpoint(large down) {
  background-image: url('../img/background-0-op.jpg');
  background-color:rgba(59,75,86,0.7);
  margin-top: 10px;
}

@include breakpoint(large) {
  @include grid-col(5.5);
  img{
    padding-top: 200px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}




@include breakpoint(small down) {
  @include grid-col(12);
  height: 500px;
  img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    }

  }


}
// =============================== Your Brand  ===============================



// =============================== Numbers  ===============================

// reset ///

.all-numbers .ball:last-child:not(:first-child){
  float: left !important;
}
.numbers{
  background: $primary-color;
  // height: 2000px;
  h1{
    margin-top: 0px;
  }
}


@include breakpoint(small down) {
  .n5{
    width: 100% !important;
  }
}
@include breakpoint(medium down) {

  .all-numbers{
    padding-top: 0px !important;
    }
  .balls-line{
    display: none;
  }
  .ball{
    @include grid-col(12);
    margin-left: auto;
    margin-right: auto;
    }

    .n1,.n2,.n3,.n4,.n5{
      width: 50% !important;
      height: 200px !important;
      border-radius: 0 !important;
    }
    .n1{
      width: 100% !important;
    }

    .all-numbers .ball:last-child:not(:first-child){
      // float: right !important;
    }


}

@include breakpoint(large) {
  .ball{
    @include grid-col(6);
    margin-left: 40px;
    position: relative;
    z-index: 20;
}

}

.all-numbers{
  padding-top: 100px;
  margin-left: 30px;
  @include grid-row();


      .content-ball{
        text-align: center;
        padding-top: 30px;

        .ball-number{
          color: #142d3d;
          font-weight:700;
          font-size: 20px;
          font-family: museo700 !important;
        }
        .ball-title{
          color: white;
          font-family: museo500;
          font-size: 16px;
        }

    }


    .n1{
        width: 250px;
        height: 250px;
        border-radius: 100%;
        background: #e0495e;

          span:first-child{
            font-size: 72px !important;
          }
          span:nth-child(3){
            font-size: 30px !important;
            display: block;
            margin-top: -25px !important;
          }
      }
      .n2{

        width: 160px;
        height: 160px;
        border-radius: 100%;
        background: #1071a8;
        top: 30px;

        span:first-child{
          font-size: 20px !important;
        }

      }
      .n3{
        width: 140px;
        height: 140px;
        border-radius: 100%;
        background: #e5b118;
        top: 50px;

        span:first-child{
          font-size: 20px !important;
        }
      }
      .n4{

        width: 120px;
        height:120px;
        border-radius: 100%;
        background: #27a379;
        top: 60px;

        span:first-child{
          font-size: 20px !important;
        }

      }
      .n5{

        width: 180px;
        height: 180px;
        border-radius: 100%;
        background: #1db6bd;
        top: 20px;

        span:first-child{
          font-size: 20px !important;
        }

      }

}




.balls-line{
  position: relative;
  top: -170px;
}
// =============================== Clients  ===============================

.clients{

  h1{
    margin-top: 0px;
  }
    @include breakpoint(medium down) {
      min-height: 1000px;
      height: auto;
    }


  h1{
    color: black;
  }

}


.logo-clients{
  padding-top: 150px;
  min-height: 700px;

}
  @include breakpoint(medium down) {

    .op-clients{
      @include grid-col(4);
    }

  .logo-clients{
    margin-left: 5%;
    margin-right: 5%;
  }

 }

@include breakpoint(large) {

  .op-clients{

    @include grid-col(2);
      // border: solid 1px green;
      height: 170px;
        img{
          width: 60%;
          margin-left: 20px;
        }
    }

   }


 // =============================== contact  ===============================

.contact{
  background-color: $primary-color;
  height: 1000px;

  h1{
    margin-top: 0px;
  }
}
.content-contact{
  @include grid-col-row();
    p, span{
      color: white;
    }
}

.contact-left{
  @include grid-col(6);

  @include breakpoint(medium down) {
    text-align: center;
    @include grid-col(12);
  }
}

.contact-right{
  margin-bottom: 100px;
  padding-top: 300px;
  @include grid-col(6);
    img{
      max-width: 15%;
    }

    @include breakpoint(medium down) {
      text-align: center;
      margin-bottom: 100px;
      @include grid-col(12);
    }
}



// =============================== Animations  ===============================
