{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="Public">
    <META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 22 Jul 2017 11:12:01 GMT">
    <title>Megafoto Apresentação</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">

    <!-- meta dados para Apple  https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
<link rel="shortcut icon" href="http://www.megafoto.org/images/ico/favicon.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://www.megafoto.org/images/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://www.megafoto.org/images/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://www.megafoto.org/images/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="http://www.megafoto.org/images/ico/apple-touch-icon-57-precomposed.png">
  </head>
  <body>



    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

        <!-- off-canvas title bar for 'small' screen -->
        <!-- <div class="title-bar" data-responsive-toggle="widemenu" data-hide-for="medium">
          <div class="title-bar-left">
            <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
            <span class="title-bar-title">Menu</span>
          </div>
        </div> -->



        <!-- "wider" top-bar menu for 'medium' and up -->
         <!-- <div id="widemenu" class="top-bar-2 hide">
           <div class="top-bar-left">
             <ul class="menu" data-dropdown-menu>
               <ul class="list-presentation-menu">
                 <li><div><img src="{{root}}/assets/img/icons/presentation/About-Icon.png"></div>O que é?</li>
                 <li><div><img src="{{root}}/assets/img/icons/presentation/About-Icon.png"></div>Features</li>
                 <li><div><img src="{{root}}/assets/img/icons/presentation/Timeline.png"></div>Timeline</li>
                 <li><div><img src="{{root}}/assets/img/icons/presentation/Marca.png"></div>Exponha sua marca</li>
                 <li><div><img src="{{root}}/assets/img/icons/presentation/Services.png"></div>Relatorios</li>
                 <li><div><img src="{{root}}/assets/img/icons/presentation/About-Icon.png"></div>Megaposter</li>
                 <li><div><img src="{{root}}/assets/img/icons/presentation/Analysis.png"></div>Números</li>
                 <li><div><img src="{{root}}/assets/img/icons/presentation/Clients.png"></div>Clientes</li>
                 <li><div><img src="{{root}}/assets/img/icons/presentation/Contact-us.png"></div>Contato</li>
               </ul>
                 </ul>
               </li>
             </ul>
           </div>
         </div> -->


        <!-- off-canvas left menu -->
        <div  class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
          <ul class="vertical dropdown menu" data-dropdown-menu>
            <li><a href="http://fanz360.com/">Home</a></li>
          </ul>
        </div>


        <!-- original content goes in this container -->
        <div class="off-canvas-content" data-off-canvas-content>




    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}



</div>

<!-- close wrapper, no more content after this -->
</div>
</div>

    <!-- <script src="{{root}}assets/js/app.js"></script> -->
  </body>
</html>
